.modal_container {
  overflow: hidden;
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: auto;
    background-color: #fff;
    z-index: 5;
    border-radius: 5px;
    box-shadow: 0 0 10px #0000002e;
    padding: 60px 24px;
    padding-bottom: 24px;
    .modal_title {
      position: absolute;
      top: -15px;
      left: -21px;
      padding: 10px;
      border-radius: 2px;
      box-shadow: 0 0 5px #00000052;
      color: #fff;
      background: #b94237;
      transform-origin: left;

      transition: 0.2s all;
      &:hover {
        transform: rotate(-2deg);
        transition: 0.2s all;
      }
    }
    .close_btn {
      position: absolute;
      top: 24px;
      right: 24px;
      font-size: 20px;
      cursor: pointer;
      color: #1f1c1f;
    }
    .input_group {
      margin-bottom: 20px;
      .label {
        font-size: 18px;
        color: #5e5f66;
        margin-bottom: 10px;
      }
      .input {
        width: 100%;
        padding: 10px;
      }
      .date {
        padding: 8px;
      }
      .selector {
        padding: 8px;
      }
    }
    .add_task {
      color: #fff;
      padding: 10px;
      background-color: #b94237;
      border: none;
      outline: none;
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 16px;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 4rem;
    }
  }
  .task_add_status {
    position: absolute;
    top: 13%;
    transform: translateX(-50%);
    width: 30%;
    background: #4caf50;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    left: 50%;
    z-index: 1;
    text-shadow: 0 0 5px #00000012;
    padding: 10px;
    transition: 0.4s all;
    display: block;
    opacity: 0;
    &.show {
      opacity: 1;
    }
    cursor: default;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #1f1c1f;
    opacity: 0.3;
  }
}
